{:paths     ["src/main/cljc"
             "src/main/js"
             "src/spec/cljc"]
 :deps      {org.clojure/clojure       {:mvn/version "1.9.0"}
             org.clojure/clojurescript {:mvn/version "1.9.946"}
             moxaj/macrowbar           {:mvn/version "0.2.4"}}
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo"}}
 :aliases   {:test      {:extra-paths ["src/test/cljc"
                                       "src/test/cljs"
                                       "src/test/resources"]
                         :extra-deps  {org.clojure/test.check {:mvn/version "0.10.0-alpha2"}}}
             :benchmark {:extra-paths ["src/benchmark/cljc"
                                       "src/benchmark/java"
                                       "src/benchmark/resources"]
                         :extra-deps  {criterium/criterium        {:mvn/version "0.4.4"}
                                       com.cognitect/transit-clj  {:mvn/version "0.8.300"}
                                       com.cognitect/transit-cljs {:mvn/version "0.8.239"}
                                       com.damballa/abracad       {:mvn/version "0.4.14-alpha2"}
                                       gloss                      {:mvn/version "0.2.6"}
                                       cheshire                   {:mvn/version "5.7.1"}
                                       funcool/octet              {:mvn/version "1.0.1"}
                                       com.taoensso/nippy         {:mvn/version "2.14.0-alpha1"}}}
             :dev       {:extra-paths ["src/dev/clj"]
                         :extra-deps  {nodisassemble {:mvn/version "0.1.3"}}}}}
